<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zhshzh.system.user.dao.SysUserInfoMapper">
    <resultMap id="BaseResultMap" type="cn.com.zhshzh.system.user.po.SysUserInfoPO">
        <id column="user_info_id" jdbcType="BIGINT" property="userInfoId" javaType="java.lang.Long"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName" javaType="java.lang.String"/>
        <result column="password" jdbcType="VARCHAR" property="password" javaType="java.lang.String"/>
        <result column="full_name" jdbcType="VARCHAR" property="fullName" javaType="java.lang.String"/>
        <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" javaType="java.lang.String"/>
        <result column="sex" jdbcType="CHAR" property="sex" javaType="java.lang.String"/>
        <result column="birth" jdbcType="DATE" property="birth" javaType="java.util.Date"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" javaType="java.lang.String"/>
        <result column="email" jdbcType="VARCHAR" property="email" javaType="java.lang.String"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete" javaType="java.lang.Integer"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" javaType="java.util.Date"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy" javaType="java.lang.Long"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy" javaType="java.lang.Long"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_info_id, user_name, password, full_name, serial_number, sex,
        birth, phone_number, email, is_delete, create_time, update_time,
        create_by, update_by
    </sql>

    <!--根据用户id查询用户信息-->
    <select id="getSysUserInfo" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_user_info
        where user_info_id = #{userInfoId,jdbcType=BIGINT}
    </select>

    <!--条件查询用户信息-->
    <select id="listSysUserInfo" resultMap="BaseResultMap" parameterType="cn.com.zhshzh.system.user.po.SysUserInfoPO">
        select
        <include refid="Base_Column_List"/>
        from sys_user_info
        <where>
            <if test="userInfoId != null and userInfoId != ''">user_info_id = #{userInfoId,jdbcType=BIGINT}</if>
            <if test="userName != null and userName != ''">and user_name = #{userName,jdbcType=VARCHAR}</if>
            <if test="password != null and password != ''">and password = #{password,jdbcType=VARCHAR}</if>
            <if test="fullName != null and fullName != ''">and full_name = #{fullName,jdbcType=VARCHAR}</if>
            <if test="serialNumber != null and serialNumber != ''">and serial_number = #{serialNumber,jdbcType=VARCHAR}</if>
            <if test="sex != null and sex != ''">and sex = #{sex,jdbcType=CHAR}</if>
            <if test="birth != null and birth != ''">and birth = #{birth,jdbcType=DATE}</if>
            <if test="phoneNumber != null and phoneNumber != ''">and phone_number = #{phoneNumber,jdbcType=VARCHAR}</if>
            <if test="email != null and email != ''">and email = #{email,jdbcType=VARCHAR}</if>
            <if test="isDelete != null and isDelete != ''">and is_delete = #{isDelete,jdbcType=BIT}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy,jdbcType=BIGINT}</if>
            <if test="updateBy != null and updateBy != ''">and update_by = #{updateBy,jdbcType=BIGINT}</if>
        </where>
    </select>

    <!--新增用户信息-->
    <insert id="insertSysUserInfo" parameterType="cn.com.zhshzh.system.user.po.SysUserInfoPO">
        insert into sys_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userInfoId != null and userInfoId != ''">user_info_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="fullName != null and fullName != ''">full_name,</if>
            <if test="serialNumber != null and serialNumber != ''">serial_number,</if>
            <if test="sex != null and sex != ''">sex,</if>
            <if test="birth != null and birth != ''">birth,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
            <if test="createTime != null and createTime != ''">create_time,</if>
            <if test="updateTime != null and updateTime != ''">update_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userInfoId != null and userInfoId != ''">#{userInfoId,jdbcType=BIGINT}</if>
            <if test="userName != null and userName != ''">#{userName,jdbcType=VARCHAR}</if>
            <if test="password != null and password != ''">#{password,jdbcType=VARCHAR}</if>
            <if test="fullName != null and fullName != ''">#{fullName,jdbcType=VARCHAR}</if>
            <if test="serialNumber != null and serialNumber != ''">#{serialNumber,jdbcType=VARCHAR}</if>
            <if test="sex != null and sex != ''">#{sex,jdbcType=CHAR}</if>
            <if test="birth != null and birth != ''">#{birth,jdbcType=DATE}</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber,jdbcType=VARCHAR}</if>
            <if test="email != null and email != ''">#{email,jdbcType=VARCHAR}</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete,jdbcType=BIT}</if>
            <if test="createTime != null and createTime != ''">#{createTime,jdbcType=TIMESTAMP}</if>
            <if test="updateTime != null and updateTime != ''">#{updateTime,jdbcType=TIMESTAMP}</if>
            <if test="createBy != null and createBy != ''">#{createBy,jdbcType=BIGINT}</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy,jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!--更新用户信息-->
    <update id="updateSysUserInfoPO" parameterType="cn.com.zhshzh.system.user.po.SysUserInfoPO">
        update sys_user_info
        <set>
            <if test="userName != null and userName !=''">user_name = #{userName,jdbcType=VARCHAR},</if>
            <if test="fullName != null and fullName !=''">full_name = #{fullName,jdbcType=VARCHAR},</if>
            <if test="serialNumber != null and serialNumber !=''">serial_number = #{serialNumber,jdbcType=VARCHAR},</if>
            <if test="sex != null and sex !=''">sex = #{sex,jdbcType=CHAR},</if>
            <if test="birth != null and birth !=''">birth = #{birth,jdbcType=DATE},</if>
            <if test="phoneNumber != null and phoneNumber !=''">phone_number = #{phoneNumber,jdbcType=VARCHAR},</if>
            <if test="email != null and email !=''">email = #{email,jdbcType=VARCHAR},</if>
            <if test="isDelete != null and isDelete !=''">is_delete = #{isDelete,jdbcType=BIT},</if>
            <if test="createTime != null and createTime !=''">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null and updateTime !=''">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null and createBy !=''">create_by = #{createBy,jdbcType=BIGINT},</if>
            <if test="updateBy != null and updateBy !=''">update_by = #{updateBy,jdbcType=BIGINT}</if>
        </set>
        where user_info_id = #{userInfoId,jdbcType=BIGINT}
    </update>
</mapper>
