<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 将sql信息用log4j2打印出来 -->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
    </typeAliases>

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 指定分页插件使用哪种方言 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 默认值为 false，当该参数设置为 true 时，如果 pageSize=0 或者 RowBounds.limit = 0 就会查询出全部的结果 -->
            <!-- 相当于没有执行分页查询，但是返回结果仍然是 Page 类型 -->
            <property name="pageSizeZero" value="true"/>
            <!-- 分页合理化参数，默认值为false。 -->
            <!-- 当该参数设置为 true 时，pageNum<=0 时会查询第一页， pageNum>pages（超过总数时），会查询最后一页。 -->
            <!-- 默认false 时，直接根据参数进行查询 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>
